In [1]:
import pandas as pd #El manejo de archivos csv
import pyodbc #Para la conexion con SQL SERVER
import numpy as np #Manejos numericos
import string #En caso de necesitar manejo de strings

In [13]:
csv_file = 'BUILD_COSTUMER_MEDI (APPLICATION_TRAIN).csv'
df = pd.read_csv(csv_file,decimal=',')

In [14]:
df = df.where(pd.notnull(df), None)

In [15]:
# Configura la cadena de conexión
server = 'DESKTOP-5GQ42K8'
database = 'ProyectoBases'
username = 'sa'
password = '12345'

# Crea la cadena de conexión
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Establece la conexión
conn = pyodbc.connect(conn_str)
cursor = conn.cursor() #Abre un cursor

CERRAR CONEXION

In [138]:
conn.commit()
# Cerrar el cursor
cursor.close()

# Cerrar la conexión
conn.close()


*APPLICATION TRAIN*

Creación de tablas

In [7]:
create_table_query = '''
CREATE TABLE APPLICATION_TRAIN(
    SK_ID_CURR INT,
    TARGET BIT,
    NAME_CONTRACT_TYPE NVARCHAR(50),
    DAYS_REGISTRATION INT, 
    DAYS_PUBLISH INT, 
    WEEKDAY_APPR_PROCESS_START NVARCHAR(50),
    HOUR_APPR_PROCESS_START	INT,
    AMT_INCOME_TOTAL FLOAT,
    AMT_CREDIT FLOAT,
    AMT_ANNUITY	FLOAT,
    AMT_GOODS_PRICE	FLOAT,
    ID_CURTOMER	INT,
    ID_REQUEST_APLICATIONS INT,
    ID_BUILD_CUSTOMER_AVG INT,
    ID_BUILD_CUSTOMER_MODE INT,
    ID_BUILD_CUSTOMER_MEDI INT,
    ID_EXT_SOURCE INT,
    ID_DOCUMENT_APLICATION INT,
    CONSTRAINT pk_APLICATION_TRAIN PRIMARY KEY(SK_ID_CURR)
)
'''
cursor.execute(create_table_query)
conn.commit()

In [ ]:
create_table_query = '''
CREATE TABLE CUSTOMER_APPLICATION_TRAIN(
    ID INT,
    CODE_GENDER	CHAR(1)
    CNT_CHILDREN	TINYINT
    NAME_TYPE_SUITE	NVARCHAR(50)
    NAME_INCOME_TYPE	NVARCHAR(50)
    NAME_EDUCATION_TYPE	NVARCHAR(50)
    NAME_FAMILY_STATUS	NVARCHAR(50)
    NAME_HOUSING_TYPE	NVARCHAR(50)
    DAYS_BIRTH	INT
    DAYS_EMPLOYED	INT
    OCCUPATION_TYPE	NVARCHAR(50)
    CNT_FAM_MEMBERS	INT
    ORGANIZATION_TYPE	NVARCHAR(50)
    ID_PERSONAL_CONTACT	INT
    ID_PERSONAL_PROPERTIES	INT
    ID_REGION_QUALIFICATION_CUSTOMERS	INT
    ID_SOCIAL_CUSTOMER	INT
    CONSTRAINT pk_CUSTOMER_APPLICATION_TRAIN PRIMARY KEY(ID)
)
'''
cursor.execute(create_table_query)
conn.commit()

In [6]:
#Listoooo
# create_table_query = '''
# CREATE TABLE PROPERTIES_CUSTOMERS_APPLICATION_TRAIN (
#     ID INT,
#     FLAG_OWN_CAR CHAR(1),
#     FLAG_OWN_REALTY CHAR(1),
#     OWN_CAR_AGE INT
#     CONSTRAINT pk_PROPERTIES_CUSTOMERS_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [53]:
# lISTOOO
# create_table_query = '''
# CREATE TABLE CONTACT_CUSTOMER_APPLICATION_TRAIN(
#     ID INT,
#     FLAG_MOBIL BIT,
#     FlAG_EMP_PHONE BIT,
#     FLAG_CONT_MOBILE BIT,
#     FLAG_PHONE BIT,
#     FLAG_EMAIL BIT,
#     DAYS_LAST_PHONE_CHANGE INT,
#     CONSTRAINT pk_CONTACT_CUSTOMER_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [194]:
#Listoooo
# create_table_query = '''
# CREATE TABLE AMT_REQUEST_APPLICATION_TRAIN(
#     ID INT,
#     AMT_REQ_CREDIT_BUREAU_HOUR FLOAT,
#     AMT_REQ_CREDIT_BUREAU_DAY FLOAT,
#     AMT_REQ_CREDIT_BUREAU_WEEK FLOAT,
#     AMT_REQ_CREDIT_BUREAU_MON FLOAT,
#     AMT_REQ_CREDIT_BUREAU_QRT FLOAT,
#     AMT_REQ_CREDIT_BUREAU_YEAR FLOAT,
#     CONSTRAINT pk_AMT_REQUEST_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [26]:
#LISTOOO 
# create_table_query = '''
# CREATE TABLE REGION_QUALIFICATION_APPLICATION_TRAIN(
#     ID INT,
#     REGION_POPULATION_RELATIVE FLOAT,
#     REGION_RATING_CLIENT INT,
#     REGION_RATING_CLIENT_W_CITY INT,
#     REG_REGION_NOT_LIVE_REGION INT,
#     REG_REGION_NOT_WORK_REGION INT, 
#     LIVE_REGION_NOT_WORK_REGION INT,
#     REG_CITY_NOT_LIVE_CITY INT,
#     REG_CITY_NOT_WORK_CITY INT,
#     LIVE_CITY_NOT_WORK_CITY INT,
#     CONSTRAINT pk_REGION_QUALIFICATION_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [10]:
#LISTOOO
# create_table_query = '''
# CREATE TABLE BUILD_COSTUMER_AVG_APPLICATION_TRAIN(
#     ID INT,
#     APARTMENTS_AVG FLOAT,
#     BASEMENTAREA_AVG FLOAT,
#     YEARS_BEGINEXPLUATATION_AVG FLOAT,
#     YEARS_BUILD_AVG FLOAT, 
#     COMMONAREA_AVG FLOAT,
#     ELEVATORS_AVG FLOAT,
#     ENTRANCES_AVG FLOAT, 
#     FLOORSMAX_AVG FLOAT,
#     FLOORSMIN_AVG FLOAT,
#     LANDAREA_AVG FLOAT,
#     LIVINGAPARTMENTS_AVG FLOAT,
#     LIVINGAREA_AVG FLOAT,
#     NONLIVINGAPARTMENTS_AVG FLOAT,
#     NONLIVINGAREA_AVG FLOAT, 
#     CONSTRAINT pk_BUILD_COSTUMER_AVG_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [64]:
#LISTOOO
# create_table_query = '''
# CREATE TABLE BUILD_COSTUMER_MODE_APPLICATION_TRAIN(
#     ID INT,
#     APARTMENTS_MODE FLOAT,
#     BASEMENTAREA_MODE FLOAT,
#     YEARS_BEGINEXPLUATATION_MODE FLOAT,
#     YEARS_BUILD_MODE FLOAT,
#     COMMONAREA_MODE FLOAT,
#     ELEVATORS_MODE FLOAT,
#     ENTRANCES_MODE FLOAT,
#     FLOORSMAX_MODE FLOAT,
#     FLOORSMIN_MODE FLOAT,
#     LANDAREA_MODE FLOAT,
#     LIVINGAPARTMENTS_MODE FLOAT,
#     LIVINGAREA_MODE FLOAT,
#     NONLIVINGAPARTMENTS_MODE FLOAT,
#     NONLIVINGAREA_MODE FLOAT,
#     FONDKAPREMONT_MODE NVARCHAR(50),
#     HOUSETYPE_MODE NVARCHAR(50),
#     TOTALAREA_MODE FLOAT,   
#     WALLSMATERIAL_MODE NVARCHAR(50),
#     EMERGENCYSTATE_MODE NVARCHAR(50),
#     CONSTRAINT pk_BUILD_COSTUMER_MODE_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [18]:
#LISTOOO
# create_table_query = '''
# CREATE TABLE BUILD_COSTUMER_MEDI_APPLICATION_TRAIN(
#     ID INT,
#     APARTMENTS_MEDI	FLOAT,
#     BASEMENTAREA_MEDI FLOAT,
#     YEARS_BEGINEXPLUATATION_MEDI FLOAT,
#     YEARS_BUILD_MEDI FLOAT,
#     COMMONAREA_MEDI	FLOAT,
#     ELEVATORS_MEDI FLOAT,
#     ENTRANCES_MEDI FLOAT,
#     FLOORSMAX_MEDI FLOAT,
#     FLOORSMIN_MEDI FLOAT,
#     LANDAREA_MEDI FLOAT,
#     LIVINGAPARTMENTS_MEDI FLOAT,
#     LIVINGAREA_MEDI	FLOAT,
#     NONLIVINGAPARTMENTS_MEDI FLOAT,
#     NONLIVINGAREA_MEDI FLOAT,
#     CONSTRAINT pk_BUILD_COSTUMER_MEDI_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [76]:
#listoo
# create_table_query = '''
# CREATE TABLE CUSTUMER_CUSTOMER_APPLICATION_TRAIN(
#     ID INT,
#     OBS_30_CNT_SOCIAL_CIRCLE FLOAT,
#     DEF_30_CNT_SOCIAL_CIRCLE FLOAT,
#     OBS_60_CNT_SOCIAL_CIRCLE FLOAT,
#     DEF_60_CNT_SOCIAL_CIRCLE FLOAT,
#     CONSTRAINT pk_CUSTUMER_CUSTOMER_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [118]:
# LISTOO
# create_table_query = '''
# CREATE TABLE DOCUMENT_APLICATION_TRAIN(
#     ID INT,
#     FLAG_DOCUMENT_2	INT,
#     FLAG_DOCUMENT_3	INT,
#     FLAG_DOCUMENT_4	INT,
#     FLAG_DOCUMENT_5	INT,
#     FLAG_DOCUMENT_6	INT,
#     FLAG_DOCUMENT_7	INT,
#     FLAG_DOCUMENT_8	INT,
#     FLAG_DOCUMENT_9	INT,
#     FLAG_DOCUMENT_10 INT,
#     FLAG_DOCUMENT_11 INT,
#     FLAG_DOCUMENT_12 INT,
#     FLAG_DOCUMENT_13 INT,
#     FLAG_DOCUMENT_14 INT,
#     FLAG_DOCUMENT_15 INT,
#     FLAG_DOCUMENT_16 INT,
#     FLAG_DOCUMENT_17 INT,
#     FLAG_DOCUMENT_18 INT,
#     FLAG_DOCUMENT_19 INT,
#     FLAG_DOCUMENT_20 INT,
#     FLAG_DOCUMENT_21 INT,
#     CONSTRAINT pk_DOCUMENT_APLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [131]:
# LISTOOO
# create_table_query = '''
# CREATE TABLE EXT_SOURCES_APPLICATION_TRAIN(
#     ID INT,
#     EXT_SOURCE_1 FLOAT,
#     EXT_SOURCE_2 FLOAT,
#     EXT_SOURCE_3 FLOAT,
#     CONSTRAINT pk_EXT_SOURCES_APPLICATION_TRAIN PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

Insertar Datos

In [ ]:

for index, row in df.iterrows():
    # Validar y convertir las columnas a los tipos correctos
    sk_id_curr = int(row['SK_ID_CURR']) if isinstance(row['SK_ID_CURR'], (int, float)) else 0
    target = int(row['TARGET']) if isinstance(row['TARGET'], (int, float)) else 0
    name_contract_type = str(row['NAME_CONTRACT_TYPE']) if isinstance(row['NAME_CONTRACT_TYPE'], str) else None
    days_registration = int(row['DAYS_REGISTRATION']) if isinstance(row['DAYS_REGISTRATION'], (int, float)) else 0
    days_publish = int(row['DAYS_PUBLISH']) if isinstance(row['DAYS_PUBLISH'], (int, float)) else 0
    weekday_appr_process_start = str(row['WEEKDAY_APPR_PROCESS_START']) if isinstance(row['WEEKDAY_APPR_PROCESS_START'], str) else None
    hour_appr_process_start = int(row['HOUR_APPR_PROCESS_START']) if isinstance(row['HOUR_APPR_PROCESS_START'], (int, float)) else 0
    amt_income_total = float(row['AMT_INCOME_TOTAL']) if isinstance(row['AMT_INCOME_TOTAL'], (int, float)) else 0.0
    amt_credit = float(row['AMT_CREDIT']) if isinstance(row['AMT_CREDIT'], (int, float)) else 0.0
    amt_annuity = float(row['AMT_ANNUITY']) if isinstance(row['AMT_ANNUITY'], (int, float)) else 0.0
    amt_goods_price = float(row['AMT_GOODS_PRICE']) if isinstance(row['AMT_GOODS_PRICE'], (int, float)) else 0.0
    id_customer = int(row['ID_CURTOMER']) if isinstance(row['ID_CURTOMER'], (int, float)) else 0
    id_request_applications = int(row['ID_REQUEST_APLICATIONS']) if isinstance(row['ID_REQUEST_APLICATIONS'], (int, float)) else 0
    id_build_customer_avg = int(row['ID_BUILD_CUSTOMER_AVG']) if isinstance(row['ID_BUILD_CUSTOMER_AVG'], (int, float)) else 0
    id_build_customer_mode = int(row['ID_BUILD_CUSTOMER_MODE']) if isinstance(row['ID_BUILD_CUSTOMER_MODE'], (int, float)) else 0
    id_build_customer_medi = int(row['ID_BUILD_CUSTOMER_MEDI']) if isinstance(row['ID_BUILD_CUSTOMER_MEDI'], (int, float)) else 0
    id_ext_source = int(row['ID_EXT_SOURCE']) if isinstance(row['ID_EXT_SOURCE'], (int, float)) else 0
    id_document_application = int(row['ID_DOCUMENT_APLICATION']) if isinstance(row['ID_DOCUMENT_APLICATION'], (int, float)) else 0

    insert_query = '''
    INSERT INTO APPLICATION_TRAIN (SK_ID_CURR, TARGET, NAME_CONTRACT_TYPE, DAYS_REGISTRATION, DAYS_PUBLISH, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, AMT_INCOME_TOTAL,
        AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, ID_CURTOMER, ID_REQUEST_APLICATIONS, ID_BUILD_CUSTOMER_AVG, ID_BUILD_CUSTOMER_MODE, ID_BUILD_CUSTOMER_MEDI, ID_EXT_SOURCE,
        ID_DOCUMENT_APLICATION) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''
    cursor.execute(insert_query, sk_id_curr, target, name_contract_type, days_registration, days_publish, weekday_appr_process_start, hour_appr_process_start, amt_income_total,
                   amt_credit, amt_annuity, amt_goods_price, id_customer, id_request_applications, id_build_customer_avg, id_build_customer_mode, id_build_customer_medi,
                   id_ext_source, id_document_application)

conn.commit()
# Cerrar el cursor
cursor.close()

# Cerrar la conexión
conn.close()

In [ ]:

for index, row in df.iterrows():
    # Validar y convertir las columnas a los tipos correctos
    id_value = int(row['ID']) if isinstance(row['ID'], (int)) else 0
    code_gender = str(row['CODE_GENDER']) if isinstance(row['CODE_GENDER'], str) else 'N'
    cnt_children = int(row['CNT_CHILDREN']) if isinstance(row['CNT_CHILDREN'], (int)) else 0
    name_type_suite = str(row['NAME_TYPE_SUITE']) if isinstance(row['NAME_TYPE_SUITE'], str) else None
    name_income_type = str(row['NAME_INCOME_TYPE']) if isinstance(row['NAME_INCOME_TYPE'], str) else None
    name_education_type = str(row['NAME_EDUCATION_TYPE']) if isinstance(row['NAME_EDUCATION_TYPE'], str) else None
    name_family_status = str(row['NAME_FAMILY_STATUS']) if isinstance(row['NAME_FAMILY_STATUS'], str) else None
    name_housing_type = str(row['NAME_HOUSING_TYPE']) if isinstance(row['NAME_HOUSING_TYPE'], str) else None
    days_birth = int(row['DAYS_BIRTH']) if isinstance(row['DAYS_BIRTH'], (int)) else 0
    days_employed = int(row['DAYS_EMPLOYED']) if isinstance(row['DAYS_EMPLOYED'], (int)) else 0
    occupation_type = str(row['OCCUPATION_TYPE']) if isinstance(row['OCCUPATION_TYPE'], str) else None
    cnt_fam_members = int(row['CNT_FAM_MEMBERS']) if isinstance(row['CNT_FAM_MEMBERS'], (int)) else 0
    organization_type = str(row['ORGANIZATION_TYPE']) if isinstance(row['ORGANIZATION_TYPE'], str) else None
    id_personal_contact = int(row['ID_PERSONAL_CONTACT']) if isinstance(row['ID_PERSONAL_CONTACT'], (int)) else 0
    id_personal_properties = int(row['ID_PERSONAL_PROPERTIES']) if isinstance(row['ID_PERSONAL_PROPERTIES'], (int)) else 0
    id_region_qualification_customers = int(row['ID_REGION_QUALIFICATION_CUSTOMERS']) if isinstance(row['ID_REGION_QUALIFICATION_CUSTOMERS'], (int)) else 0
    id_social_customer = int(row['ID_SOCIAL_CUSTOMER']) if isinstance(row['ID_SOCIAL_CUSTOMER'], (int)) else 0

    insert_query = '''
    INSERT INTO CUSTOMER_APPLICATION_TRAIN (ID, CODE_GENDER, CNT_CHILDREN, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS,
        NAME_HOUSING_TYPE, DAYS_BIRTH, DAYS_EMPLOYED, OCCUPATION_TYPE, CNT_FAM_MEMBERS, ORGANIZATION_TYPE, ID_PERSONAL_CONTACT, ID_PERSONAL_PROPERTIES,
        ID_REGION_QUALIFICATION_CUSTOMERS, ID_SOCIAL_CUSTOMER) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''
    cursor.execute(insert_query, id_value, code_gender, cnt_children, name_type_suite, name_income_type, name_education_type, name_family_status,
                   name_housing_type, days_birth, days_employed, occupation_type, cnt_fam_members, organization_type, id_personal_contact,
                   id_personal_properties, id_region_qualification_customers, id_social_customer)

conn.commit()
# Cerrar el cursor
cursor.close()

# Cerrar la conexión
conn.close()

In [7]:
#listoooo
# for index, row in df.iterrows():
#     # Verificar si OWN_CAR_AGE no es nulo y es numérico
#     if row['OWN_CAR_AGE'] is not None and str(row['OWN_CAR_AGE']).isnumeric():
#         # Convertir OWN_CAR_AGE a entero si no es nulo y es numérico
#         own_car_age = int(row['OWN_CAR_AGE'])
#     else:
#         # Establecer un valor predeterminado o manejar el caso de ser nulo o no numérico
#         own_car_age = 0  # Cambia esto por el valor predeterminado que desees

#     insert_query = "INSERT INTO PROPERTIES_CUSTOMERS_APPLICATION_TRAIN (ID, FLAG_OWN_CAR, FLAG_OWN_REALTY, OWN_CAR_AGE) VALUES (?, ?, ?, ?)"
#     cursor.execute(insert_query, row['ID'], row['FLAG_OWN_CAR'], row['FLAG_OWN_REALTY'], own_car_age)
    
# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

In [55]:
# LISTOOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a los tipos correctos
#     id_value = int(row['ID']) if isinstance(row['ID'], (int, float)) else 0
#     flag_mobil = int(row['FLAG_MOBIL']) if isinstance(row['FLAG_MOBIL'], (int, float)) and row['FLAG_MOBIL'] in [0, 1] else 0
#     flag_emp_phone = int(row['FLAG_EMP_PHONE']) if isinstance(row['FLAG_EMP_PHONE'], (int, float)) and row['FLAG_EMP_PHONE'] in [0, 1] else 0
#     flag_cont_mobile = int(row['FLAG_CONT_MOBILE']) if isinstance(row['FLAG_CONT_MOBILE'], (int, float)) and row['FLAG_CONT_MOBILE'] in [0, 1] else 0
#     flag_phone = int(row['FLAG_PHONE']) if isinstance(row['FLAG_PHONE'], (int, float)) and row['FLAG_PHONE'] in [0, 1] else 0
#     flag_email = int(row['FLAG_EMAIL']) if isinstance(row['FLAG_EMAIL'], (int, float)) and row['FLAG_EMAIL'] in [0, 1] else 0

#     # Handle DAYS_LAST_PHONE_CHANGE, set to 0 if not a number
#     try:
#         days_last_phone_change = float(row['DAYS_LAST_PHONE_CHANGE'])
#     except (ValueError, TypeError):
#         days_last_phone_change = 0.0

#     insert_query = '''
#     INSERT INTO CONTACT_CUSTOMER_APPLICATION_TRAIN ( ID, FLAG_MOBIL, FlAG_EMP_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, DAYS_LAST_PHONE_CHANGE) VALUES (?, ?, ?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, id_value, flag_mobil, flag_emp_phone, flag_cont_mobile, flag_phone, flag_email, days_last_phone_change)

# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

In [195]:
#Listoooo
# import numpy as np  # Añade esta importación al comienzo del código si aún no está importada

# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o 0
#     id_value = int(row['ID']) if isinstance(row['ID'], (int, float)) else 0
#     amt_req_credit_bureau_hour = float(row['AMT_REQ_CREDIT_BUREAU_HOUR']) if pd.notna(row['AMT_REQ_CREDIT_BUREAU_HOUR']) else 0
#     amt_req_credit_bureau_day = float(row['AMT_REQ_CREDIT_BUREAU_DAY']) if pd.notna(row['AMT_REQ_CREDIT_BUREAU_DAY']) else 0
#     amt_req_credit_bureau_week = float(row['AMT_REQ_CREDIT_BUREAU_WEEK']) if pd.notna(row['AMT_REQ_CREDIT_BUREAU_WEEK']) else 0
#     amt_req_credit_bureau_mon = float(row['AMT_REQ_CREDIT_BUREAU_MON']) if pd.notna(row['AMT_REQ_CREDIT_BUREAU_MON']) else 0
#     amt_req_credit_bureau_qrt = float(row['AMT_REQ_CREDIT_BUREAU_QRT']) if pd.notna(row['AMT_REQ_CREDIT_BUREAU_QRT']) else 0
#     amt_req_credit_bureau_year = float(row['AMT_REQ_CREDIT_BUREAU_YEAR']) if pd.notna(row['AMT_REQ_CREDIT_BUREAU_YEAR']) else 0

#     insert_query = '''
#     INSERT INTO AMT_REQUEST_APPLICATION_TRAIN(ID, AMT_REQ_CREDIT_BUREAU_HOUR, AMT_REQ_CREDIT_BUREAU_DAY, AMT_REQ_CREDIT_BUREAU_WEEK, 
#         AMT_REQ_CREDIT_BUREAU_MON, AMT_REQ_CREDIT_BUREAU_QRT, AMT_REQ_CREDIT_BUREAU_YEAR) VALUES (?, ?, ?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, id_value, amt_req_credit_bureau_hour, amt_req_credit_bureau_day, amt_req_credit_bureau_week, 
#                    amt_req_credit_bureau_mon, amt_req_credit_bureau_qrt, amt_req_credit_bureau_year)

# conn.commit()
# # Cerrar el cursor
# cursor.close()
# # Cerrar la conexión
# conn.close()

In [27]:
#LISTOOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo INT
#     region_population_relative = float(row['REGION_POPULATION_RELATIVE']) 
#     region_rating_client = int(row['REGION_RATING_CLIENT']) if isinstance(row['REGION_RATING_CLIENT'], (int)) else 0
#     region_rating_client_w_city = int(row['REGION_RATING_CLIENT_W_CITY']) if isinstance(row['REGION_RATING_CLIENT_W_CITY'], (int)) else 0
#     reg_region_not_live_region = int(row['REG_REGION_NOT_LIVE_REGION']) if isinstance(row['REG_REGION_NOT_LIVE_REGION'], (int)) else 0
#     reg_region_not_work_region = int(row['REG_REGION_NOT_WORK_REGION']) if isinstance(row['REG_REGION_NOT_WORK_REGION'], (int)) else 0
#     live_region_not_work_region = int(row['LIVE_REGION_NOT_WORK_REGION']) if isinstance(row['LIVE_REGION_NOT_WORK_REGION'], (int)) else 0
#     reg_city_not_live_city = int(row['REG_CITY_NOT_LIVE_CITY']) if isinstance(row['REG_CITY_NOT_LIVE_CITY'], (int)) else 0
#     reg_city_not_work_city = int(row['REG_CITY_NOT_WORK_CITY']) if isinstance(row['REG_CITY_NOT_WORK_CITY'], (int)) else 0
#     live_city_not_work_city = int(row['LIVE_CITY_NOT_WORK_CITY']) if isinstance(row['LIVE_CITY_NOT_WORK_CITY'], (int)) else 0

#     insert_query = '''
#     INSERT INTO REGION_QUALIFICATION_APPLICATION_TRAIN (ID, REGION_POPULATION_RELATIVE, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, 
#         REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, 
#         LIVE_CITY_NOT_WORK_CITY) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, row['ID'], region_population_relative, region_rating_client, region_rating_client_w_city, reg_region_not_live_region, 
#                    reg_region_not_work_region, live_region_not_work_region, reg_city_not_live_city, reg_city_not_work_city, live_city_not_work_city)

# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

In [12]:
#LISTOOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT
    
#     apartments_avg = float(row['APARTMENTS_AVG']) if pd.notna(row['APARTMENTS_AVG']) else 0.0
#     basementarea_avg = float(row['BASEMENTAREA_AVG']) if pd.notna(row['BASEMENTAREA_AVG']) else 0.0
#     years_beginexpluatation_avg = float(row['YEARS_BEGINEXPLUATATION_AVG']) if pd.notna(row['YEARS_BEGINEXPLUATATION_AVG']) else 0.0
#     years_build_avg = float(row['YEARS_BUILD_AVG']) if pd.notna(row['YEARS_BUILD_AVG']) else 0.0
#     commonarea_avg = float(row['COMMONAREA_AVG']) if pd.notna(row['COMMONAREA_AVG']) else 0.0
#     elevators_avg = float(row['ELEVATORS_AVG']) if pd.notna(row['ELEVATORS_AVG']) else 0.0
#     entrances_avg = float(row['ENTRANCES_AVG']) if pd.notna(row['ENTRANCES_AVG']) else 0.0
#     floorsmax_avg = float(row['FLOORSMAX_AVG']) if pd.notna(row['FLOORSMAX_AVG']) else 0.0
#     floorsmin_avg = float(row['FLOORSMIN_AVG']) if pd.notna(row['FLOORSMIN_AVG']) else 0.0
#     landarea_avg = float(row['LANDAREA_AVG']) if pd.notna(row['LANDAREA_AVG']) else 0.0
#     livingaparments_avg = float(row['LIVINGAPARTMENTS_AVG']) if pd.notna(row['LIVINGAPARTMENTS_AVG']) else 0.0
#     livingarea_avg = float(row['LIVINGAREA_AVG']) if pd.notna(row['LIVINGAREA_AVG']) else 0.0
#     nonlivingapartments_avg = float(row['NONLIVINGAPARTMENTS_AVG']) if pd.notna(row['NONLIVINGAPARTMENTS_AVG']) else 0.0
#     nonlivingarea_avg = float(row['NONLIVINGAREA_AVG']) if pd.notna(row['NONLIVINGAREA_AVG']) else 0.0
    


#     insert_query = '''
#     INSERT INTO BUILD_COSTUMER_AVG_APPLICATION_TRAIN (ID, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, 
#         COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, 
#         NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, row['ID'], apartments_avg, basementarea_avg, years_beginexpluatation_avg, years_build_avg, commonarea_avg, 
#                    elevators_avg, entrances_avg, floorsmax_avg, floorsmin_avg, landarea_avg, livingaparments_avg, livingarea_avg, 
#                    nonlivingapartments_avg, nonlivingarea_avg)

# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

In [65]:
#lISTOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o NULL
#     apartments_mode = float(row['APARTMENTS_MODE'])  if pd.notna(row['APARTMENTS_MODE']) else 0.0
#     basementarea_mode = float(row['BASEMENTAREA_MODE'])  if pd.notna(row['BASEMENTAREA_MODE']) else 0.0
#     years_beginexpluatation_mode = float(row['YEARS_BEGINEXPLUATATION_MODE'])  if pd.notna(row['YEARS_BEGINEXPLUATATION_MODE']) else 0.0
#     years_build_mode = float(row['YEARS_BUILD_MODE'])  if pd.notna(row['YEARS_BUILD_MODE']) else 0.0
#     commonarea_mode = float(row['COMMONAREA_MODE'])  if pd.notna(row['COMMONAREA_MODE']) else 0.0
#     elevators_mode = float(row['ELEVATORS_MODE'])  if pd.notna(row['ELEVATORS_MODE']) else 0.0
#     entrances_mode = float(row['ENTRANCES_MODE'])  if pd.notna(row['ENTRANCES_MODE']) else 0.0
#     floorsmax_mode = float(row['FLOORSMAX_MODE'])  if pd.notna(row['FLOORSMAX_MODE']) else 0.0
#     floorsmin_mode = float(row['FLOORSMIN_MODE'])  if pd.notna(row['FLOORSMIN_MODE']) else 0.0
#     landarea_mode = float(row['LANDAREA_MODE'])  if pd.notna(row['LANDAREA_MODE']) else 0.0
#     livingapartments_mode = float(row['LIVINGAPARTMENTS_MODE'])  if pd.notna(row['LIVINGAPARTMENTS_MODE']) else 0.0
#     livingarea_mode = float(row['LIVINGAREA_MODE'])  if pd.notna(row['LIVINGAREA_MODE']) else 0.0
#     nonlivingapartments_mode = float(row['NONLIVINGAPARTMENTS_MODE'])  if pd.notna(row['NONLIVINGAPARTMENTS_MODE']) else 0.0
#     nonlivingarea_mode = float(row['NONLIVINGAREA_MODE'])  if pd.notna(row['NONLIVINGAREA_MODE']) else 0.0
#     fondkapremont_mode = str(row['FONDKAPREMONT_MODE'])  if pd.notna(row['FONDKAPREMONT_MODE']) else None
#     housetype_mode = str(row['HOUSETYPE_MODE'])  if pd.notna(row['HOUSETYPE_MODE']) else None
#     totalarea_mode = float(row['TOTALAREA_MODE'])  if pd.notna(row['TOTALAREA_MODE']) else 0.0
#     wallsmaterial_mode = str(row['WALLSMATERIAL_MODE'])  if pd.notna(row['WALLSMATERIAL_MODE']) else None
#     emergencystate_mode = str(row['EMERGENCYSTATE_MODE'])  if pd.notna(row['EMERGENCYSTATE_MODE']) else None

#     insert_query = '''
#     INSERT INTO BUILD_COSTUMER_MODE_APPLICATION_TRAIN (ID, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, 
#         COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, 
#         NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE
#     ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, row['ID'], apartments_mode, basementarea_mode, years_beginexpluatation_mode, years_build_mode, commonarea_mode, 
#                    elevators_mode, entrances_mode, floorsmax_mode, floorsmin_mode, landarea_mode, livingapartments_mode, livingarea_mode, 
#                    nonlivingapartments_mode, nonlivingarea_mode, fondkapremont_mode, housetype_mode, totalarea_mode, wallsmaterial_mode, 
#                    emergencystate_mode)

# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

In [19]:
#LISTOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o 0
#     apartments_medi = float(row['APARTMENTS_MEDI']) if pd.notnull(row['APARTMENTS_MEDI']) else 0.0
#     basementarea_medi = float(row['BASEMENTAREA_MEDI']) if pd.notnull(row['BASEMENTAREA_MEDI']) else 0.0
#     years_beginexpluatation_medi = float(row['YEARS_BEGINEXPLUATATION_MEDI']) if pd.notnull(row['YEARS_BEGINEXPLUATATION_MEDI']) else 0.0
#     years_build_medi = float(row['YEARS_BUILD_MEDI']) if pd.notnull(row['YEARS_BUILD_MEDI']) else 0.0
#     commonarea_medi = float(row['COMMONAREA_MEDI']) if pd.notnull(row['COMMONAREA_MEDI']) else 0.0
#     elevators_medi = float(row['ELEVATORS_MEDI']) if pd.notnull(row['ELEVATORS_MEDI']) else 0.0
#     entrances_medi = float(row['ENTRANCES_MEDI']) if pd.notnull(row['ENTRANCES_MEDI']) else 0.0
#     floorsmax_medi = float(row['FLOORSMAX_MEDI']) if pd.notnull(row['FLOORSMAX_MEDI']) else 0.0
#     floorsmin_medi = float(row['FLOORSMIN_MEDI']) if pd.notnull(row['FLOORSMIN_MEDI']) else 0.0
#     landarea_medi = float(row['LANDAREA_MEDI']) if pd.notnull(row['LANDAREA_MEDI']) else 0.0
#     livingapartments_medi = float(row['LIVINGAPARTMENTS_MEDI']) if pd.notnull(row['LIVINGAPARTMENTS_MEDI']) else 0.0
#     livingarea_medi = float(row['LIVINGAREA_MEDI']) if pd.notnull(row['LIVINGAREA_MEDI']) else 0.0
#     nonlivingapartments_medi = float(row['NONLIVINGAPARTMENTS_MEDI']) if pd.notnull(row['NONLIVINGAPARTMENTS_MEDI']) else 0.0
#     nonlivingarea_medi = float(row['NONLIVINGAREA_MEDI']) if pd.notnull(row['NONLIVINGAREA_MEDI']) else 0.0

#     # Crear la consulta de inserción
#     insert_query = '''
#     INSERT INTO BUILD_COSTUMER_MEDI_APPLICATION_TRAIN (ID, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI, 
#     COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, 
#     NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
#     '''

#     # Ejecutar la consulta de inserción
#     cursor.execute(insert_query, row['ID'], apartments_medi, basementarea_medi, years_beginexpluatation_medi, years_build_medi, commonarea_medi, 
#                     elevators_medi, entrances_medi, floorsmax_medi, floorsmin_medi, landarea_medi, livingapartments_medi, livingarea_medi, 
#                     nonlivingapartments_medi, nonlivingarea_medi)

# # Confirmar los cambios y cerrar la conexión
# conn.commit()
# conn.close()

In [77]:
#listooo
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo INT
#     obs_30_cnt_social_circle = float(row['OBS_30_CNT_SOCIAL_CIRCLE']) if pd.notna(row['OBS_30_CNT_SOCIAL_CIRCLE']) else 0
#     def_30_cnt_social_circle = float(row['DEF_30_CNT_SOCIAL_CIRCLE']) if pd.notna(row['DEF_30_CNT_SOCIAL_CIRCLE']) else 0
#     obs_60_cnt_social_circle = float(row['OBS_60_CNT_SOCIAL_CIRCLE']) if pd.notna(row['OBS_60_CNT_SOCIAL_CIRCLE']) else 0
#     def_60_cnt_social_circle = float(row['DEF_60_CNT_SOCIAL_CIRCLE']) if pd.notna(row['DEF_60_CNT_SOCIAL_CIRCLE']) else 0

#     insert_query = '''
#     INSERT INTO CUSTUMER_CUSTOMER_APPLICATION_TRAIN (ID, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, 
#         DEF_60_CNT_SOCIAL_CIRCLE) VALUES (?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, row['ID'], obs_30_cnt_social_circle, def_30_cnt_social_circle, obs_60_cnt_social_circle, def_60_cnt_social_circle)

# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

In [120]:
#LISTOOO
# for index, row in df.iterrows():
#     # Validate and convert columns to INT
    
#     flag_document_2 = int(row['FLAG_DOCUMENT_2']) 
#     flag_document_3 = int(row['FLAG_DOCUMENT_3']) 
#     flag_document_4 = int(row['FLAG_DOCUMENT_4']) 
#     flag_document_5 = int(row['FLAG_DOCUMENT_5']) 
#     flag_document_6 = int(row['FLAG_DOCUMENT_6']) 
#     flag_document_7 = int(row['FLAG_DOCUMENT_7']) 
#     flag_document_8 = int(row['FLAG_DOCUMENT_8']) 
#     flag_document_9 = int(row['FLAG_DOCUMENT_9']) 
#     flag_document_10 = int(row['FLAG_DOCUMENT_10']) 
#     flag_document_11 = int(row['FLAG_DOCUMENT_11']) 
#     flag_document_12 = int(row['FLAG_DOCUMENT_12']) 
#     flag_document_13 = int(row['FLAG_DOCUMENT_13']) 
#     flag_document_14 = int(row['FLAG_DOCUMENT_14']) 
#     flag_document_15 = int(row['FLAG_DOCUMENT_15'])
#     flag_document_16 = int(row['FLAG_DOCUMENT_16']) 
#     flag_document_17 = int(row['FLAG_DOCUMENT_17']) 
#     flag_document_18 = int(row['FLAG_DOCUMENT_18']) 
#     flag_document_19 = int(row['FLAG_DOCUMENT_19']) 
#     flag_document_20 = int(row['FLAG_DOCUMENT_20']) 
#     flag_document_21 = int(row['FLAG_DOCUMENT_21']) 

#     # Insert data into the DOCUMENT_APLICATION_TRAIN table
#     insert_query = '''
#     INSERT INTO DOCUMENT_APLICATION_TRAIN (ID, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, 
#         FLAG_DOCUMENT_6, FLAG_DOCUMENT_7, FLAG_DOCUMENT_8, FLAG_DOCUMENT_9, FLAG_DOCUMENT_10, FLAG_DOCUMENT_11, 
#         FLAG_DOCUMENT_12, FLAG_DOCUMENT_13, FLAG_DOCUMENT_14, FLAG_DOCUMENT_15, FLAG_DOCUMENT_16, FLAG_DOCUMENT_17, 
#         FLAG_DOCUMENT_18, FLAG_DOCUMENT_19, FLAG_DOCUMENT_20, FLAG_DOCUMENT_21) 
#     VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, index, flag_document_2, flag_document_3, flag_document_4, flag_document_5, flag_document_6, flag_document_7, 
#                    flag_document_8, flag_document_9, flag_document_10,flag_document_11, flag_document_12, flag_document_13, flag_document_14, 
#                    flag_document_15, flag_document_16, flag_document_17, flag_document_18, flag_document_19, flag_document_20, flag_document_21)

# # Commit the changes
# conn.commit()

# # Close the cursor and the connection
# cursor.close()
# conn.close()

In [132]:
#LISTOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT
#     ext_source_1 = float(row['EXT_SOURCE_1']) if pd.notna(row['EXT_SOURCE_1']) else 0.0
#     ext_source_2 = float(row['EXT_SOURCE_2']) if pd.notna(row['EXT_SOURCE_2']) else 0.0
#     ext_source_3 = float(row['EXT_SOURCE_3']) if pd.notna(row['EXT_SOURCE_3']) else 0.0

#     insert_query = '''
#     INSERT INTO EXT_SOURCES_APPLICATION_TRAIN (ID, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3) VALUES (?, ?, ?, ?)
#     '''
#     cursor.execute(insert_query, row['ID'], ext_source_1, ext_source_2, ext_source_3)

# conn.commit()
# # Cerrar el cursor
# cursor.close()

# # Cerrar la conexión
# conn.close()

*BUREAU*

TABLAS

In [ ]:
create_table_query = '''
CREATE TABLE BUREAU (
    SK_ID_BUREAU INT,
    CREDIT_ACTIVE CHAR(20),
    CREDIT_CURRENCY	CHAR(20),
    CNT_CREDIT_PROLONG INT,
    CREDIT_TYPE	CHAR(50),
    ID_CREDIT_TIMELINE INT,
    ID_CREDIT_AMOUNTS INT,
    CONSTRAINT pk_BUREAU PRIMARY KEY(SK_ID_BUREAU)
)
'''
cursor.execute(create_table_query)
conn.commit()

In [146]:
#listoo
# create_table_query = '''
# CREATE TABLE CREDIT_TIMELINE_BUREAU (	
#     ID INT,
#     DAYS_CREDIT	INT,
#     CREDIT_DAY_OVERDUE INT,
#     DAYS_CREDIT_ENDDATE	FLOAT,
#     DAYS_ENDDATE_FACT FLOAT,
#     DAYS_CREDIT_UPDATE INT,
#     CONSTRAINT pk_CREDIT_TIMELINE_BUREAU PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [153]:
#LISTOOOO
# create_table_query = '''
# CREATE TABLE CREDIT_AMOUNTS_BUREAU (	
#     ID INT,
#     AMT_CREDIT_MAX_OVERDUE FLOAT,
#     AMT_CREDIT_SUM FLOAT,
#     AMT_CREDIT_SUM_DEBT	FLOAT,
#     AMT_CREDIT_SUM_LIMIT FLOAT,
#     AMT_CREDIT_SUM_OVERDUE FLOAT,
#     AMT_ANUALITY FLOAT,
#     CONSTRAINT pk_CREDIT_AMOUNTS_BUREAU PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

Ingresar Datos

In [ ]:
#CODIGO PARA INGRESAR DATOS EN TABLA BUREAU

In [147]:
#listooo
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo INT o 0
#     days_credit = int(row['DAYS_CREDIT']) if pd.notnull(row['DAYS_CREDIT']) and isinstance(row['DAYS_CREDIT'], (int, float)) else 0
#     credit_day_overdue = int(row['CREDIT_DAY_OVERDUE']) if pd.notnull(row['CREDIT_DAY_OVERDUE']) and isinstance(row['CREDIT_DAY_OVERDUE'], (int, float)) else 0.0
#     days_credit_enddate = float(row['DAYS_CREDIT_ENDDATE']) if pd.notnull(row['DAYS_CREDIT_ENDDATE'])else 0
#     days_enddate_fact = float(row['DAYS_ENDDATE_FACT']) if pd.notnull(row['DAYS_ENDDATE_FACT']) else 0.0
#     days_credit_update = int(row['DAYS_CREDIT_UPDATE']) if pd.notnull(row['DAYS_CREDIT_UPDATE']) and isinstance(row['DAYS_CREDIT_UPDATE'], (int, float)) else 0

#     # Crear la consulta de inserción
#     insert_query = '''
#     INSERT INTO CREDIT_TIMELINE_BUREAU (ID, DAYS_CREDIT, CREDIT_DAY_OVERDUE, DAYS_CREDIT_ENDDATE, DAYS_ENDDATE_FACT, DAYS_CREDIT_UPDATE)
#     VALUES (?, ?, ?, ?, ?, ?)
#     '''

#     # Ejecutar la consulta de inserción
#     cursor.execute(insert_query, (row['ID'], days_credit, credit_day_overdue, days_credit_enddate, days_enddate_fact, days_credit_update))

# # Confirmar los cambios y cerrar la conexión
# conn.commit()
# conn.close()

In [154]:
#LISTOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o 0
#     amt_credit_max_overdue = float(row['AMT_CREDIT_MAX_OVERDUE']) if pd.notnull(row['AMT_CREDIT_MAX_OVERDUE']) else 0.0
#     amt_credit_sum = float(row['AMT_CREDIT_SUM']) if pd.notnull(row['AMT_CREDIT_SUM']) else 0.0
#     amt_credit_sum_debt = float(row['AMT_CREDIT_SUM_DEBT']) if pd.notnull(row['AMT_CREDIT_SUM_DEBT']) else 0.0
#     amt_credit_sum_limit = float(row['AMT_CREDIT_SUM_LIMIT']) if pd.notnull(row['AMT_CREDIT_SUM_LIMIT']) else 0.0
#     amt_credit_sum_overdue = float(row['AMT_CREDIT_SUM_OVERDUE']) if pd.notnull(row['AMT_CREDIT_SUM_OVERDUE']) else 0.0
#     amt_annuity = float(row['AMT_ANNUITY']) if pd.notnull(row['AMT_ANNUITY']) else 0.0

#     # Crear la consulta de inserción
#     insert_query = '''
#     INSERT INTO CREDIT_AMOUNTS_BUREAU (ID, AMT_CREDIT_MAX_OVERDUE, AMT_CREDIT_SUM, AMT_CREDIT_SUM_DEBT, AMT_CREDIT_SUM_LIMIT, AMT_CREDIT_SUM_OVERDUE, AMT_ANUALITY)
#     VALUES (?, ?, ?, ?, ?, ?, ?)
#     '''

#     # Ejecutar la consulta de inserción
#     cursor.execute(insert_query, (row['ID'], amt_credit_max_overdue, amt_credit_sum, amt_credit_sum_debt, amt_credit_sum_limit, amt_credit_sum_overdue, amt_annuity))

# # Confirmar los cambios y cerrar la conexión
# conn.commit()
# conn.close()

*BUREAU_BALANCE*

TABLAS

INSERTAR DATOS

*PREVIOUS_APPLICATION*

TABLAS

In [ ]:
create_table_query = '''
CREATE TABLE PREVIOUS_APPLICATION (	
    SK_ID_PREV INT,
    NAME_CONTRACT_TYPE NVARCHAR(50),
    WEEKDAY_APPR_PROCESS_START NVARCHAR(50),
    HOUR_APPR_PROCESS_START INT,
    FLAG_LAST_APPL_PER_CONTRACT CHAR(1),
    NFLAG_LAST_APPL_IN_DAY INT,
    NAME_CASH_LOAN_PURPOSE CHAR(20),
    NAME_CONTRACT_STATUS NVARCHAR(50),
    DAYS_DECISION INT,
    NAME_PAYMENT_TYPE NVARCHAR(50),
    CODE_REJECT_REASON CHAR(20),
    NAME_TYPE_SUITE	NVARCHAR(50),
    NAME_CLIENT_TYPE NVARCHAR(50),
    NAME_GOODS_CATEGORY	CHAR(20),
    NAME_PORTFOLIO CHAR(20),
    NAME_PRODUCT_TYPE CHAR(20),
    CHANNEL_TYPE NVARCHAR(50),
    SELLERPLACE_AREA INT,
    NAME_SELLER_INDUSTRY NVARCHAR(50),
    CNT_PAYMENT	FLOAT,
    NAME_YIELD_GROUP NVARCHAR(50),
    PRODUCT_COMBINATION	NVARCHAR(50),
    ID_INTEREST_RATES INT,
    ID_AMT_PREVIOUS	INT,
    LOAN_TERMS INT,
    SK_ID_CURR INT,
    CONSTRAINT pk_PREVIOUS_APPLICATION KEY(SK_ID_PREV)
)
'''
cursor.execute(create_table_query)
conn.commit()

In [159]:
#LISTOOO
# create_table_query = '''
# CREATE TABLE INTEREST_RATES_PREVIOUS_APPLICATION (	
#     ID INT,
#     RATE_DOWN_PAYMENT FLOAT,
#     RATE_INTEREST_PRIMARY FLOAT,
#     RATE_INTEREST_PRIVILEGED FLOAT,
#     CONSTRAINT pk_INTEREST_RATES_PREVIOUS_APPLICATION PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [164]:
# LISTOOO
# create_table_query = '''
# CREATE TABLE AMT_PREVIOUS_APPLICATION (	
#     ID INT,
#     AMT_ANNUITY	FLOAT,
#     AMT_APPLICATION	FLOAT,
#     AMT_CREDIT FLOAT,
#     AMT_DOWN_PAYMENT FLOAT,
#     AMT_GOODS_PRICE	FLOAT,
#     CONSTRAINT pk_AMT_PREVIOUS_APPLICATION PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

In [169]:
create_table_query = '''
CREATE TABLE LOAN_TERMS_PREVIOUS_APPLICATION (	
    ID INT,
    DAYS_FIRST_DRAWING FLOAT,
    DAYS_FIRST_DUE FLOAT,
    DAYS_LAST_DUE_1ST_VERSION FLOAT,
    DAYS_LAST_DUE FLOAT,
    DAYS_TERMINATION FLOAT,
    NFLAG_INSURED_ON_APPROVAL FLOAT,
    CONSTRAINT pk_LOAN_TERMS_PREVIOUS_APPLICATION PRIMARY KEY(ID)
)
'''
cursor.execute(create_table_query)
conn.commit()

In [ ]:
#codigo para insertar en PREVIOUS APPLICATION

In [160]:
#LISTOOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o 0
#     rate_down_payment = float(row['RATE_DOWN_PAYMENT']) if pd.notnull(row['RATE_DOWN_PAYMENT']) else 0.0
#     rate_interest_primary = float(row['RATE_INTEREST_PRIMARY']) if pd.notnull(row['RATE_INTEREST_PRIMARY']) else 0.0
#     rate_interest_privileged = float(row['RATE_INTEREST_PRIVILEGED']) if pd.notnull(row['RATE_INTEREST_PRIVILEGED']) else 0.0

#     # Crear la consulta de inserción
#     insert_query = '''
#     INSERT INTO INTEREST_RATES_PREVIOUS_APPLICATION (ID, RATE_DOWN_PAYMENT, RATE_INTEREST_PRIMARY, RATE_INTEREST_PRIVILEGED)
#     VALUES (?, ?, ?, ?)
#     '''

#     # Ejecutar la consulta de inserción
#     cursor.execute(insert_query, (row['ID'], rate_down_payment, rate_interest_primary, rate_interest_privileged))

# # Confirmar los cambios y cerrar la conexión
# conn.commit()
# conn.close()

In [165]:
#LISTOOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o 0
#     amt_annuity = float(row['AMT_ANNUITY']) if pd.notnull(row['AMT_ANNUITY']) else 0.0
#     amt_application = float(row['AMT_APPLICATION']) if pd.notnull(row['AMT_APPLICATION']) else 0.0
#     amt_credit = float(row['AMT_CREDIT']) if pd.notnull(row['AMT_CREDIT']) else 0.0
#     amt_down_payment = float(row['AMT_DOWN_PAYMENT']) if pd.notnull(row['AMT_DOWN_PAYMENT']) else 0.0
#     amt_goods_price = float(row['AMT_GOODS_PRICE']) if pd.notnull(row['AMT_GOODS_PRICE'])  else 0.0

#     # Crear la consulta de inserción
#     insert_query = '''
#     INSERT INTO AMT_PREVIOUS_APPLICATION (ID, AMT_ANNUITY, AMT_APPLICATION, AMT_CREDIT, AMT_DOWN_PAYMENT, AMT_GOODS_PRICE)
#     VALUES (?, ?, ?, ?, ?, ?)
#     '''

#     # Ejecutar la consulta de inserción
#     cursor.execute(insert_query, (row['ID'], amt_annuity, amt_application, amt_credit, amt_down_payment, amt_goods_price))

# # Confirmar los cambios y cerrar la conexión
# conn.commit()
# conn.close()

In [170]:

for index, row in df.iterrows():
    # Validar y convertir las columnas a tipo FLOAT o 0
    days_first_drawing = float(row['DAYS_FIRST_DRAWING']) if pd.notnull(row['DAYS_FIRST_DRAWING']) else 0.0
    days_first_due = float(row['DAYS_FIRST_DUE']) if pd.notnull(row['DAYS_FIRST_DUE']) else 0.0
    days_last_due_1st_version = float(row['DAYS_LAST_DUE_1ST_VERSION']) if pd.notnull(row['DAYS_LAST_DUE_1ST_VERSION']) else 0.0
    days_last_due = float(row['DAYS_LAST_DUE']) if pd.notnull(row['DAYS_LAST_DUE']) else 0.0
    days_termination = float(row['DAYS_TERMINATION']) if pd.notnull(row['DAYS_TERMINATION']) else 0.0
    nflag_insured_on_approval = float(row['NFLAG_INSURED_ON_APPROVAL']) if pd.notnull(row['NFLAG_INSURED_ON_APPROVAL']) else 0.0

    # Crear la consulta de inserción
    insert_query = '''
    INSERT INTO LOAN_TERMS_PREVIOUS_APPLICATION (ID, DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL)
    VALUES (?, ?, ?, ?, ?, ?, ?)
    '''

    # Ejecutar la consulta de inserción
    cursor.execute(insert_query, (row['ID'], days_first_drawing, days_first_due, days_last_due_1st_version, days_last_due, days_termination, nflag_insured_on_approval))

# Confirmar los cambios y cerrar la conexión
conn.commit()
conn.close()

*CREDIT CARD BALANCED*

TABLAS

In [ ]:
create_table_query = '''
CREATE TABLE CREDIT_CARD_BALANCED (	
    SK_ID_CURR INT,
    MONTHS_BALANCE INT,
    AMT_BALANCE	FLOAT,
    AMT_CREDIT_LIMIT_ACTUAL	INT,
    AMT_INST_MIN_REGULARITY	FLOAT,
    AMT_PAYMENT_CURRENT	FLOAT,
    AMT_PAYMENT_TOTAL_CURRENT FLOAT,
    AMT_RECEIVAVLE_PRINCIPAL FLOAT,
    AMT_RECIVABLE FLOAT,
    AMT_TOTAL_RECEIVABLE FLOAT,
    CNT_INSTALMENT_MATURE_CUM FLOAT,
    NAME_CONTRACT_STATUS NVARCHAR(50),
    SK_DPD INT,
    SK_DPD_DEF INT,
    ID_CREDIT_CARD_DRAWINGS	INT,
    SK_ID_PREV INT,
    CONSTRAINT pk_CREDIT_CARD_BALANCED PRIMARY KEY(SK_ID_CURR)
)
'''
cursor.execute(create_table_query)
conn.commit()

In [174]:
#LISTOOO
# create_table_query = '''
# CREATE TABLE CREDIT_CARD_DRAWINGS (	
#     ID INT,
#     AMT_DRAWINGS_ATM_CURRENT FLOAT,
#     AMT_DRAWINGS_CURRENT FLOAT,
#     AMT_DRAWINGS_OTHER_CURRENT FLOAT,
#     AMT_DRAWINGS_POS_CURRENT FLOAT,
#     CNT_DRAWINGS_ATM_CURRENT FLOAT,
#     CNT_DRAWINGS_CURRENT FLOAT,
#     CNT_DRAWINGS_OTHER_CURRENT FLOAT,
#     CNT_DRAWINGS_POS_CURRENT FLOAT,
#     CONSTRAINT pk_CREDIT_CARD_DRAWINGS PRIMARY KEY(ID)
# )
# '''
# cursor.execute(create_table_query)
# conn.commit()

INSERTAR DATOS

In [ ]:
#insertar datos en credit card balanced

In [175]:
#LISTOOO
# for index, row in df.iterrows():
#     # Validar y convertir las columnas a tipo FLOAT o 0
#     amt_drawings_atm_current = float(row['AMT_DRAWINGS_ATM_CURRENT']) if pd.notnull(row['AMT_DRAWINGS_ATM_CURRENT']) else 0.0
#     amt_drawings_current = float(row['AMT_DRAWINGS_CURRENT']) if pd.notnull(row['AMT_DRAWINGS_CURRENT']) else 0.0
#     amt_drawings_other_current = float(row['AMT_DRAWINGS_OTHER_CURRENT']) if pd.notnull(row['AMT_DRAWINGS_OTHER_CURRENT']) else 0.0
#     amt_drawings_pos_current = float(row['AMT_DRAWINGS_POS_CURRENT']) if pd.notnull(row['AMT_DRAWINGS_POS_CURRENT']) else 0.0
#     cnt_drawings_atm_current = float(row['CNT_DRAWINGS_ATM_CURRENT']) if pd.notnull(row['CNT_DRAWINGS_ATM_CURRENT'])  else 0.0
#     cnt_drawings_current = float(row['CNT_DRAWINGS_CURRENT']) if pd.notnull(row['CNT_DRAWINGS_CURRENT']) else 0.0
#     cnt_drawings_other_current = float(row['CNT_DRAWINGS_OTHER_CURRENT']) if pd.notnull(row['CNT_DRAWINGS_OTHER_CURRENT']) else 0.0
#     cnt_drawings_pos_current = float(row['CNT_DRAWINGS_POS_CURRENT']) if pd.notnull(row['CNT_DRAWINGS_POS_CURRENT']) else 0.0

#     # Crear la consulta de inserción
#     insert_query = '''
#     INSERT INTO CREDIT_CARD_DRAWINGS (ID, AMT_DRAWINGS_ATM_CURRENT, AMT_DRAWINGS_CURRENT, AMT_DRAWINGS_OTHER_CURRENT, AMT_DRAWINGS_POS_CURRENT,
#                                       CNT_DRAWINGS_ATM_CURRENT, CNT_DRAWINGS_CURRENT, CNT_DRAWINGS_OTHER_CURRENT, CNT_DRAWINGS_POS_CURRENT)
#     VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
#     '''

#     # Ejecutar la consulta de inserción
#     cursor.execute(insert_query, (row['ID'], amt_drawings_atm_current, amt_drawings_current, amt_drawings_other_current, amt_drawings_pos_current,
#                                   cnt_drawings_atm_current, cnt_drawings_current, cnt_drawings_other_current, cnt_drawings_pos_current))

# # Confirmar los cambios y cerrar la conexión
# conn.commit()
# conn.close()

*INSTALLMENTS_PAYMENTS*

TABLAS

In [ ]:
create_table_query = '''
CREATE TABLE INSTALLMENTS_PAYMENT (	
    SK_ID_CURR INT,
    NUM_INSTALMENT_VERSION FLOAT,
    NUM_INSTALMENT_NUMBER INT,
    DAYS_INSTALMENT	FLOAT,
    DAYS_ENTRY_PAYMENT FLOAT,
    AMT_INSTALMENT FLOAT,
    AMT_PAYMENT	FLOAT,
    SK_ID_PREV INT,
    CONSTRAINT pk_INSTALLMENTS_PAYMENT PRIMARY KEY(SK_ID_CURR)
)
'''
cursor.execute(create_table_query)
conn.commit()

INSERTAR DATOS

In [ ]:
#CODIFO PARA INSERTAR EN INSTALLMENTS PAYMENT

*POS_CASH_BALANCE*

TABLAS

In [ ]:
create_table_query = '''
CREATE TABLE POS_CASH_BALANCE (	
    SK_ID_PREV INT,
    MONTHS_BALANCE INT,
    CNT_INSTALMENT FLOAT,
    CNT_INSTALMENT_FUTURE FLOAT,
    NAME_CONTRACT_STATUS NVARCHAR(50),
    SK_DPD INT,
    SK_DPD_DEF INT,
    SK_ID_CURR INT,
    CONSTRAINT pk_POS_CASH_BALANCE PRIMARY KEY(ID)
)
'''
cursor.execute(create_table_query)
conn.commit()

INSERTAR DATOS

In [ ]:
#INSERTAR DATOS EN POS_CASH_BALANCE